/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
}

/* Selectors */

html {
    font-family: "Comic Sans MS", "sans-serif";
    cursor: url("Images/cursors/RawFish.png") 10 8, auto;
}

a:hover, button:hover, input:hover {
    cursor: url("Images/cursors/RawFishPointer.png") 26 0, auto;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(13, 28, 46);
  }
  
  ul.nav li {
    float: left;
  }
  
  ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  ul.nav li a:hover {
    background-color: #204458;
  }

  /* Classes */
.active{
    background-color: #397ea7;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
}

.center{
    text-align: center;
    margin: auto;
}

.colorBack{
    background-image: url("Images/fishGif.gif");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 1400px;
}

.opaqueMain{
    background-color: #2044589f;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}