body {
    background-color: rgba(57,147,221,0.7);
}

.rounded-corners {
    border-radius: 33px;
}

.image-shadow {
    box-shadow: 3px 3px 3px #00000033;
}

div.circle {
    border-radius: 50%;
    background-color: purple;
    height: 50px;
    width: 50px;
    opacity: 0;
}

.changeSize {
    animation-name: changeSize;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes changeSize {
    0% {width: 50px; height: 50px;}
    50% {width: 75px; height: 75px;}
    110% {width: 50px; height: 50px;}
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid black;
}

.changeColor {
    animation-name: changeColor;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes changeColor {
    0% {border-bottom-color: #04AA6D}
    33% {border-bottom-color: steelblue}
    66% {border-bottom-color: aqua}
    75% {border-bottom-color: #04AA6D}
}

.crazyFish {
    background-image: url("../Resources/Images/Blue-Fish-PNG-Transparent-Image.png");
    min-width: 94px;
    height: 60px;
    background-size: 94px;
}

.moveCircle {
    animation-name: moveCircle;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
}

@keyframes moveCircle {
    0% {left: 15%; top: 75%}
    10% {left: 30%; top: 85%}
    20% {left: 45%; top: 75%}
    30% {left: 65%; top: 65%}
    40% {left: 80%; top: 75%}
    50% {left: 80%; top: 75%}
    60% {left: 65%; top: 85%}
    70% {left: 45%; top: 75%}
    80% {left: 30%; top: 65%}
    90% {left: 15%; top: 75%}
    100% {left: 15%; top: 75%}
}