/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
}

/* Selectors */

html {
    font-family: "Comic Sans MS", "sans-serif";
    font-size: 1.3rem;
    cursor: url("../Resources/cursors/RawFish.png") 10 8, auto;
}

a:hover, button:hover, input:hover {
    cursor: url("../Resources/cursors/RawFishPointer.png") 26 0, auto;
}

ul.nav {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(13, 28, 46);
}

ul.nav li {
    width: 16.6%;
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.nav li a:hover {
    background-color: #204458;
}

.dropA .dropdown {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.dropdown {
    text-align: center;
    overflow: hidden;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(13, 28, 46);
    max-width: 350px;
    min-width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropA {
    background-color: #204458;
}

.arrow-down {
    float: right;
    transform: translate(-20px, 12px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    ul.nav li {
        display: block;
        float: none;
        text-align: center;
        width: 100%;
    }
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x: auto;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
}

.center {
    text-align: center;
    margin: auto;
    color: white;
}

ul {
    text-align: center;
    list-style-position: inside;
}

ol {
    text-align: center;
    list-style-position: inside;
}

.colorBack {
    background-image: url("../Resources/Images/fishGif.gif");
    /*     background-repeat: no-repeat;
    background-repeat: no-repeat;
 */
    background-size: 100% 1400px;
}

.opaqueMain {
    background-color: #204458c7;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0.5rem;
}

.obiswan {
    border-color: beige;
    border-style: solid;
}